[submodule "thirdparty/VulkanMemoryAllocator"]
	path = thirdparty/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "thirdparty/stb"]
	path = thirdparty/stb
	url = https://github.com/nothings/stb.git
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "libgilberta"]
	path = libgilberta
	url = https://github.com/Alex9932/libgilberta.git
[submodule "thirdparty/imguizmo"]
	path = thirdparty/imguizmo
	url = https://github.com/cedricguillemet/imguizmo
[submodule "thirdparty/dirent"]
	path = thirdparty/dirent
	url = https://github.com/tronkko/dirent
[submodule "thirdparty/spirv-cross"]
	path = thirdparty/spirv-cross
	url = https://github.com/khronosgroup/spirv-cross
